body {
  margin: 0;
  padding: 0;
  background-color: gray;
}

.container {
  max-width: 1032px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  background-color: antiquewhite;
  border: 3px solid black;
  margin: 5px;
  padding: 5px;
}

.wrapper div {
  height: 50px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: yellowgreen;
}

.wrapper div:nth-child(1) {
  grid-column: 1 / 13;
}
.wrapper div:nth-child(2) {
  grid-column: 1 / 7;
}
.wrapper div:nth-child(3) {
  grid-column: 7 / 13;
}
.wrapper div:nth-child(4) {
  grid-column: 1 / 5;
}
.wrapper div:nth-child(5) {
  grid-column: 5 / 9;
}
.wrapper div:nth-child(6) {
  grid-column: 9 / 13;
}
.wrapper div:nth-child(7) {
  grid-column: 1 / 4;
}
.wrapper div:nth-child(8) {
  grid-column: 4 / 7;
}
.wrapper div:nth-child(9) {
  grid-column: 7 / 10;
}
.wrapper div:nth-child(10) {
  grid-column: 10 / 13;
}
.wrapper div:nth-child(11) {
  grid-column: 1 / 3;
}
.wrapper div:nth-child(12) {
  grid-column: 3 / 5;
}
.wrapper div:nth-child(13) {
  grid-column: 5 / 7;
}
.wrapper div:nth-child(14) {
  grid-column: 7 / 9;
}
.wrapper div:nth-child(15) {
  grid-column: 9 / 11;
}
.wrapper div:nth-child(16) {
  grid-column: 11 / 13;
}

.wrapper1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  margin-top: 20px;
  min-height: 500px;
  background-color: #add8e6;
  padding: 10px;
}

.wrapper1 header {
  background-color: #20b2aa;
  grid-column: 1 / -1;
  grid-row: 1;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  color: white;
}

.wrapper1 footer {
  background-color: #20b2aa;
  grid-column: 1 / -1;
  grid-row: 3;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  color: white;
}

.wrapper1 aside {
  background-color: #8fbc8f;
  grid-column: 1 / 4;
  grid-row: 2;
  text-align: center;
  padding: 20px 10px;
  font-weight: bold;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.wrapper1 article {
  background-color: #ffa500;
  grid-column: 4 / -1;
  grid-row: 2;
  padding: 20px;
  font-weight: bold;
  color: #333;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wrapper1 .image-container {
  margin-top: 20px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

  align-self: flex-end;
  margin-top: auto;
}

.wrapper1 .image-container > div {
  background-color: #ffcc66;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  color: #333;
}

h1 {
  margin-top: 40px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.wrapper2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  gap: 20px;
  grid-auto-flow: row dense;
}

.item {
  background: #40e0d0;
  display: grid;
  padding-left: 15px;
  font-size: 20px;
  border-radius: 3px;
}

.item1 {
  grid-column: 1/3;
  grid-row: 1/3;
  height: 100px;
}

.item:nth-child(3) {
  grid-row: 1/3;
  grid-column: 4/ 6;
  height: 100px;
}

.item:nth-child(4) {
  grid-column: 1/3;
}

.wrapper3 {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 100px 100px;
  gap: 15px;
  grid-auto-flow: dense;
}

.wrapper3 div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  background-color: #ffa500;
}

.wrapper3 div:nth-child(3) {
  grid-column: 2/4;
  grid-row: 2/4;
}

.wrapper4 {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 200px 200px 200px;
  gap: 15px;
}

.wrapper4 div {
  display: flex;
  font: bold;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  background-color: #ffcc66;
  border-radius: 10px;
}